@media(max-width: 600px){
    .all-container{
        margin: 40px;
    flex-direction: column;
    gap: 5px;
    }
    .left-box h1 span:last-child{
        font-size: 14px;
    }
}
/* Render, Netlify and Vasel are platforms used to deploy completed codebase to go live  */